{% extends 'catalog/base.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Продукт
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название</td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Категория</td>
                            <td>{{ object.category }}</td>
                        </tr>
                        <tr>
                            <td>Владелец</td>
                            <td>{{ object.owner }}</td>
                        </tr>
                        <tr>
                            <td>Версия</td>
                            <td>{% for version in object.version.all %}
                                {{ version.name }}
                                {% endfor %}</td>
                        </tr>

                    </table>

                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <img src="{% mediapath object.image %}"/>
        </div>
    </div>
</div>

{% endblock %}
